/* 手机响应式设置 */
@media(max-width:1400px)
{
     /* 网页全屏显示 */
    body {
        width:100%;
    }
    /* 正文全屏显示 */
    .leftbar{
        left:100px
    }
}
@media(max-width:992px)
{
     /* 网页全屏显示 */
    body {
        width:100%;
    }
    /* 正文全屏显示 */
    .leftbar{
        left:100px
    } 
    /* 隐藏头部、导航、侧栏、页脚 */
    #leftbar{
        display:none
    }
    #rightbar{
        display:none
    }
    .container .midbar{
        margin-top:5px;
        padding: 10px;
        padding-top: 0px;
    }
    .home_search{
        width:65% !important;
    }
    .home_search span input{
        padding-left:10%;
    }
    .article-function li{
        margin-left:15px !important;
        width:15% !important;
    }
    .form-header h2{
        font-size:28px !important;
    }
    #post-img img{
        display:none;
    }
    #content{
        font-size:0.9em;
    }
    #myTab li a {
        font-size:0.8em;
    }
    .signin-form{
        width:75%;
        margin: 30px auto !important;
    }
    .modal-content {
        width: 90% !important;
    }
}


.home_search{
    float:left;
    width:76%;
    padding: 3px;
}
/* 设置全局hr横线的外边距 */
.hrmargin{
    margin:0 0;
}

/* 综合排名中的导航栏字体样式 */
.nav-tabs li a{
    font-weight: bold;
    border-radius: 0;
    color:black;
    margin: 0%;
}
/* 鼠标悬浮时综合排名中的导航栏字体样式 */
.nav li a:hover{
    border-bottom: 3px solid #198754;
    background-color:#ffffff;
    transition-duration: 0.5s;
}
/* 综合排名导航栏初始样式 */
.nav-tabs li.active a{
    margin: 0;
    border-bottom: 3px solid #198754;
    background-color:#ffffff;
    color: 	#198754;
}
/* 综合排名导航栏选中样式 */
.nav-tabs li.active a:focus{
    margin: 0;
    border-bottom: 3px solid #198754;
    background-color:#ffffff;
    color: 	#198754;
}
/* 全局页面背景 */
body{
    background-color:#f6f6f6;
    /* font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; */
}
/* 设置全局logo位置与大小 */
#logo{
    /* position: fixed;
    left:200px; */
    width: 17%;
}
/* 左侧导航栏整体样式 */
.leftbar{
    overflow: hidden;
    /* position: fixed;
    top: 10%;
    left:200px;
    width: 17%; */
    background-color:white;
    box-shadow: 0px 2px 5px rgb(181,212,213);
    border-radius: 10px;
}
/* 左侧导航栏a标签样式 */
.leftbar li a{
    color:black;
    font-size:20px;
    display:block;
    font-weight:bold;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:40px;
    text-decoration:none;
    padding:13px;
    border-radius:10px;
    width:92%;
}
/* 左侧导航栏鼠标悬停样式 */
.leftbar li a:hover{
    color:rgb(181,212,213);
    border-bottom: 0px;
    background-color:#198754;
    transition-duration: 0.2s;
}
/* 中部主体部分的样式 */
.midbar{
    background-color:white;
    box-shadow: 0px 2px 5px rgb(181,212,213);
    margin-bottom:20px;
    margin:0 auto;
    border-radius: 15px;
    margin-top:60px;
    margin-bottom:20px
}
/* 搜索页面搜索框样式 */
.search{
    color: rgb(91, 112, 131);
    font-size: 1em;
    display:inline-block;
    width:100%;
    margin:20px 0 auto;
    border-radius:15px 15px;
    padding-left: 8%;
    background-color:rgb(235, 238, 240);
}
/* 搜索页面搜索框选中样式 */
.search:focus{
    border:1px solid #198754;
    background-color: white;
}
/* 搜索页面按钮样式 */
.glyphicon-search-explore,.glyphicon-search-uni,.glyphicon-search-result{
    width: 8%;
    color: rgb(91, 112, 131);
    border: none;
    background-color: transparent;
    position:relative;
    left: 4%;
    top: -25px;
    margin: 0;
}
/* .glyphicon-search-result{
    width: 8%;
    color: rgb(91, 112, 131);
    border: none;
    background-color: transparent;
    position:absolute;
    left: 6%;
    top: 5.5%;
} */
.search-sm-icon{
    width: 8%;
    color: rgb(91, 112, 131);
    border: none;
    background-color: transparent;
    position: relative;
    left: 5.5%;
    top: -28px;
}
/* 搜索页面按钮悬停样式 */
.search-btn{
    display:none;
}
/* 右侧小型搜索栏 */
.col-md-3 .search{
    font-size:1em;
    display:inline-block;
    height:39px;
    margin-right:0;
    border-radius:15px 15px;
    margin-top:0;
    padding-left:12%;
}
/* 右侧小型搜索栏按钮 */
/* 右侧广告栏 */
.col-md-3{
    margin-bottom:40px;
}
/* 右侧广告栏（除小型搜索栏） */
.rightbar{
    background-color:white;
    box-shadow: 0px 2px 5px rgb(181,212,213);
    border-radius: 10px;
}
.col-md-13{ 
    margin-top: 0px;
    margin: 0px;
    padding-right:10px;
}
.col-md-13 .uni-mini-info{
    border: 1px solid  white;
    box-shadow: 0px 0px 5px rgb(181,212,213);
    border-radius: 10px;
    width:100%;
    margin:5px auto 10px;
}
.col-md-13 .uni-mini-info:hover{
    box-shadow: 0px 2px 20px rgb(181,212,213);
    border:1px solid  #e6e6e6;
}
.col-md-12{
    padding: 0px;
}
.uni-mini-word-info{
    margin-left:100px;
}
/* 搜索排行h4标题字体样式 */
.searchRank{
    color:white;
    float:left;
    position:absolute;
    top:180px;
    left:20px;
    display:inline; 
    margin:0;
    padding:0;
    font-weight:bold;
    font-size:25px;
}
.rankhover{
    box-shadow:0;
}
.col-md-11{ 
    margin-top: 0px;
    margin: 0px;
    padding-right:10px;
}
.col-md-11 .uni-mini-info{
    border: 1px solid  white;
    box-shadow: 0px 0px 5px rgb(181,212,213);
    margin:15px 0;
}
.col-md-11 .uni-mini-info:hover{
    box-shadow: 0px 2px 20px rgb(181,212,213);
    border:1px solid#198754;
}
.nav-tabs {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 46px;
    border-bottom: none;
    }
/* 首页导航栏 */
#hometop{
    font-weight:bold;
    font-size:20px;
    margin:7px;
}
.homespan a{
    color:black;
    margin:2px;
    width:30%;
}


/* 登陆界面样式 */
.modal-content{
    margin:50px auto 0;
    width:70%;
}
.modal-body{
    padding:0;
}
.sign{
    min-height: 41px;
    border-color:#e1e1e1;
}

.sign:focus{
    border-color:  #00bdfc;
}

.sign, .btn1{
    border-radius:7px;
    font-weight:bold;
    text-decoration: none;
}
.btn1{
    border-radius:7px;
    font-weight:bold;
    background-color: #00bdfc;
}

.form-header{
    padding: 30px 30px 10px;
    text-align: center;
    background: white;
    border-bottom: 1px solid #eee;
    color: black;
    
}
.form-header h2{
    font-size: 34px;
    font-weight: bold;
    margin:0 0 10px;
    font-family: 'Pacifico', sans-serif;
}
.form-header p{
    margin:20px 0 15px;
    font-size:17px;
    line-height:normal;
    font-family: 'Courgette', sans-serif;
}
.signin-form{
    margin:50px auto 60px;
    width: 70%;
    border:none;
}
.signin-form form{
    color: #999;
    border-radius: 3px;
    background: white;
}
.sign-form .form-group{
    margin-bottom:20px;
}
.sign-form label{
    font-size:13px;
    font-weight:normal;
}
.sign-form .btn{
    font-size:16px;
    font-weight:bold;
    background: #00cb82;
    border:none;
    min-width: 200px;
}
.sign-form .btn:hover, .sign-form .btn:focus{
    background: #00b073 !important;
    outline:none;
}
a{
    color:black;
}
.signin-form a{
    color:  #198754;
}
.signin-form a:hover{
    text-decoration: underline;
}

.close{
    margin-right:15px;
}
.question-form{
    margin:20px;
}
#post-img{
    float:left;
    width:19%;
    margin-right: 20px;
}
#post_img img{
    max-width:100px !important;
    border-radius:10px;
    margin-right:20px;  
}
.col-md-12 a{
    color:#121212;
}

.col-md-12 .view_more{
    color:#198754;
}
.col-md-12 a:hover{
    text-decoration: none;
    color:#198754;
}
.col-md-12 #content:hover{
    text-decoration: none;
    color:#646464;
}
.like button{
    margin-left:10px;
    padding:0;
    background-color:transparent;
    border:none;
}
.like button:hover{
    color:#068ab6;
}
.like span button:focus{
    outline:0;
}
#content{
    font-size:1em;
    width:60%;
}
#myTab{
    padding:0;
    text-align:center;
}
#myTab li{
}
#myTab li a{
}

 .article-function{
    list-style-type: none;
    padding:0;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #198754;
    border-color: #CCCC99	;
}
.article-function li{
    float:left;
    margin-left:5px;
    width:20%;
    margin-bottom: 10px;
    margin-left: 50px;
}

.article-function li button{
    border: none;
    font-size: 10px;
}
.article-function li button a{
    background-color: white;
    border: none;
    color: #198754;
}
.article-function li button:focus{
    outline:none;
} */

.article-function li button a:after{
    color:#198754;
    text-decoration: none;
}
.btn-primary {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}
.btn-primary:hover {
    color: #CCCC99;
    background-color: #198754;
    border-color: #198754;
    outline:0;
}
.btn-primary:focus{
    outline:none;
    border: 0;
}
.btn-primary:active {
    outline:0;
    border:0;
}
.btn-primary:after{
    outline:none;
    border: 0;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;          
}
.btn-outline-success {
    color: #198754;
    border-color: #CCCC99	;
    background-color: white;
}
.btn-outline-success:hover {
    color: white;
    background-color: #198754;
    transition: 0.5s;
}

.pagination a{
    color:black;
    float:left;
    padding:8px 16px;
    text-decoration: none;
    transition: 0.3s;
    border-radius:20px;
}
.page_input:focus{
    outline:none;
}
.pagination a:hover:not(.active){
    background-color: #ccc;
}

#write-box{
}
.post {
    width:85%;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    z-index: 2 !important;
}
.text{
    min-height:50px;
    width:85%;
    z-index: 1 !important;
}
.text:hover{
    /* border-left:1px solid #00BFFF;
    border-right:1px solid #00BFFF;
    border-bottom:1px solid #00BFFF; */
    /* border:1px solid #   ; */
}
.go_write,#question{
    /* position:absolute;
    top: 5px;  
    left: 510px; */
    font-weight:bold;
    font-size:1em;
    width:50px;
    height:30px;
    color:white;
    background:#198754;
    border:1px solid #ccc;
    border-radius:10px;
}
#question{
    /* top:20px;
    left:490px; */
    width:70px;
    height:35px;
    margin-top:10%;
    margin-right:6px;
}
#write{
    float:right;
    margin-top: 13%;
    color:grey;
    margin-right:10px;
}
#write:hover{
    color:#198754;
    text-decoration:underline;
}
.go_write:hover,#question:hover{
    color:#198754;
    background:white;
    border:2px solid #ccc;
    transition:0.5s
}
.go_write:focus,#question:focus{
    outline:none;
}
#home-profile{
    /* position:absolute;
    left: 15px;
    top: 14px; */
    float:left;
    border:2px solid #CCCC99;
}
#home-profile:hover{
    opacity:0.5;
}
#article-title, #question-title{
    border:none;
    padding:10px;
}
#article-title:focus{
    outline:none;
}
#question-title:focus{
    border-bottom:1px solid #198754 !important;
    outline:none;
    transition:0.5s;
}
@media(max-width:992px)
{
    #home-profile{
        /* display:none; */
    }
    #question,.go_write{
        
        width:53px;
    }
    #write-box{
        padding-left:1%;
    }
}