        /* .container{
            margin-top:55px;
        } */
        .hrmargin{
            margin:0 0;
        }
        .nav-tabs>li>a{
            margin:0;
            height: 100%;
        }
        .nav-tabs{
            border-bottom:white;
        }
        .nav-tabs>li>a{
            font-weight: bold;
            border-radius: 0;
            color:black;
        }
        .nav>li>a:hover{
            background-color:#F5FFFA;
            transition-duration: 0.2s;
        }
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
            margin: 0;
            border-bottom: 3px solid #00BFFF;
            background-color:#F5FFFA;
            color: 	#00BFFF;
        }
        body{
            background-color:#f6f6f6;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
        }
        .logo{
            margin-bottom:20px;
            position:fixed;
        }
        .leftbar{
            overflow: hidden;
            position: fixed;
            top: 10%;
            width: 17%;
            left:200px;
            background-color:white;
            border:1px solid #e6e6e6;
            box-shadow: 0px 2px 5px rgb(181,212,213);
            border-radius: 0px;
        }
        .leftbar li a{
            color:black;
            font-size:20px;
            display:block;
            font-weight:bold;
            margin-left:10px;
            margin-top:10px;
            margin-bottom:40px;
            text-decoration:none;
            padding:13px;
            border-radius:10px;
            width:92%;
        }
        .leftbar li a:hover{
            color:rgb(181,212,213);
            background-color:#00BFFF;
            transition-duration: 0.2s;
        }
        .col-md-9{
            background-color:white;
            box-shadow: 0px 2px 50px rgb(181,212,213);
            border:1px solid #e6e6e6;
            margin-bottom:20px;
        }
        .col-md-6{
            background-color:white;
            box-shadow: 0px 2px 5px rgb(181,212,213);
            border:1px solid #e6e6e6;
            margin-bottom:20px;
            margin:0 auto;
        }
        .box{
            margin-top:20px;
        }
        .search{
            margin-top:20px;
            float:left;
            display:inline-block;
            width:80%;
            height:39px;
            margin-right:0;
            border-radius:15px 0px 0px 15px;
        }
        .search-btn{
            margin-top:20px;
            float:right;
            height:38.5px;
            display:inline-block;
            width:20%;
            margin-left:0;
            border-radius:0px 15px 15px 0px;
            font-weight:bold;
            background-color:#00BFFF;
        }
        .search-btn:hover{
            background-color:#6cc6e4;
        }
        .search:focus{
            box-shadow: 0px 0px 5px rgb(181,212,213);
            border:1px solid #e6e6e6;
        }
        .tuijian{
            background-color:white;
            border:0.5px solid #e6e6e6;
            box-shadow: 0px 2px 5px rgb(181,212,213);
            border-radius: 0px;
        }
        .col-md-3{
            margin-bottom:40px;
        }
        .col-md-1 li{
            margin-top: 20px;
            margin-bottom: 40px;
        }
        .col-md-13{ 
            margin-top: 0px;
            margin: 0px;
            padding-right:10px;
        }
        .col-md-13 .toprank{
            border: 1px solid  white;
            box-shadow: 0px 0px 5px rgb(181,212,213);
            border-radius: 10px;
            width:100%;
            margin:10px auto 20px;
        }
        .col-md-13 .toprank:hover{
            box-shadow: 0px 2px 20px rgb(181,212,213);
            border:1px solid  #e6e6e6;
        }
        .col-md-12{
            padding: 0px;
        }
        .rank-info{
            margin-left:100px;
        }
        .des{
            color:white;
            float:left;
            position:absolute;
            top:200px;
            left:20px;
            display:inline; 
            margin:0;
            padding:0;
            font-weight:bold;
            font-size:25px;
        }
        .rankhover{
            box-shadow:0;
        }
        .col-md-11{ 
            margin-top: 0px;
            margin: 0px;
            padding-right:10px;
        }
        .col-md-11 .toprank{
            border: 1px solid  white;
            box-shadow: 0px 0px 5px rgb(181,212,213);
            margin:15px 0;
        }
        .col-md-11 .toprank:hover{
            box-shadow: 0px 2px 20px rgb(181,212,213);
            border:1px solid#00BFFF;
        }
        .nav-tabs {
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            min-height: 46px;
          }
        .col-md-6{
            background-color:white;
            /* box-shadow: 0px 2px 20px rgb(181,212,213); */
            border:1px solid #e6e6e6;
            margin-bottom:20px;
            border-radius: 0px;
            margin-top:75px;
        }
        