.modal-content{
    margin:50px auto 0;
    width:70%;
}
.modal-body{
    padding:0;
}
.sign{
    min-height: 41px;
    border-color:#e1e1e1;
}

.sign:focus{
    border-color: #00cb82;
}

.sign, .btn1{
    border-radius:7px;
    font-weight:bold;
}
.btn1{
    border-radius:7px;
    font-weight:bold;
    background-color: #00bdfc;
}

.form-header{
    padding: 30px 30px 10px;
    text-align: center;
    background: white;
    border-bottom: 1px solid #eee;
    color: black;
    
}
.form-header h2{
    font-size: 34px;
    font-weight: bold;
    margin:0 0 10px;
    font-family: 'Pacifico', sans-serif;
}
.form-header p{
    margin:20px 0 15px;
    font-size:17px;
    line-height:normal;
    font-family: 'Courgette', sans-serif;
}
.signin-form{
    margin:50px auto 60px;
    width: 70%;
}
.signin-form form{
    color: #999;
    border-radius: 3px;
    background: white;
}
.sign-form .form-group{
    margin-bottom:20px;
}
.sign-form label{
    font-size:13px;
    font-weight:normal;
}
.sign-form .btn{
    font-size:16px;
    font-weight:bold;
    background: #00cb82;
    border:none;
    min-width: 200px;
}
.sign-form .btn:hover, .sign-form .btn:focus{
    background: #00b073 !important;
    outline:none;
}
.signin-form a{
    color:  #00BFFF;
}
.signin-form a:hover{
    text-decoration: underline;
}

.close{
    position:absolute;
    top:-42px;
    left:390px;
}